In [259]:
import pandas as pd
import numpy as np

In [260]:
df=pd.read_excel('Out_of_school_rate_2025_formatted.xlsx',sheet_name='Primary')

In [298]:
df.head()

,Time_period(pri_age),ISO3,Country,Region,Region_full_name,Total_%(pri_age),Female_sex_%(pri_age),Male_sex_%(pri_age),Total_Population_data(pri_age),Female_population(pri_age),Male_population(pri_age),Rural_population(pri_age),Rural_population_rounded(pri_age),Rural_population_%(pri_age),Urban_population(pri_age),Urban_population_rounded(pri_age),Urban_Population_%(pri_age)
1,NaN,AFG,Afghanistan,SA,South Asia,NaN,NaN,NaN,6422789,3136310,3286479,4.785306e+06,4785306.0,74.505108,1.637483e+06,1637483.0,NaN
2,2011,AGO,Angola,ESA,Eastern and Southern Africa,13.81661,24.020121,3.61844,165268,78319,86949,6.558019e+04,65580.0,39.681116,9.968781e+04,99688.0,NaN
3,2022,AIA,Anguilla,LAC,Latin America and Caribbean,3.66253,NaN,NaN,4497034,2201637,2295397,1.230885e+06,1230885.0,27.371032,3.266149e+06,3266149.0,NaN
4,2023,ALB,Albania,EECA,Eastern Europe and Central Asia,10.86532,13.828430,7.91850,3913,1879,2034,4.671518e+02,467.0,11.938456,3.445848e+03,3446.0,NaN
5,2023,AND,Andorra,WE,Western Europe,0.40252,NaN,NaN,6029594,2998637,3030957,2.079341e+06,2079341.0,34.485593,3.950253e+06,3950253.0,NaN

In [261]:
df=df.drop(index=[0])

In [262]:
df=df.drop_duplicates()

In [297]:
df=df.rename(columns={'Total':'Total_%(pri_age)','Sex':'Female_sex_%(pri_age)','Unnamed: 5':'Male_sex_%(pri_age)','Unnamed: 6':'Time_period(pri_age)','Population data':'Total_Population_data(pri_age)','Unnamed: 8':'Female_population(pri_age)','Unnamed: 9':'Male_population(pri_age)','Unnamed: 10':'Rural_population(pri_age)',
                      'Unnamed: 11':'Urban_population(pri_age)','Unnamed: 12':'Urban_percent_%(pri_age)','Urban_population_rounded':'Urban_population_rounded(pri_age)'}) # The the columns Were not precisely named so I renamed the columns acute accuracy

In [304]:
df.head()

,Time_period(pri_age),ISO3,Country,Region,Region_full_name,Total_%(pri_age),Female_sex_%(pri_age),Male_sex_%(pri_age),Total_Population_data(pri_age),Female_population(pri_age),Male_population(pri_age),Rural_population(pri_age),Rural_population_rounded(pri_age),Rural_population_%(pri_age),Urban_population(pri_age),Urban_population_rounded(pri_age),Urban_population_%(pri_age)
1,NaN,AFG,Afghanistan,SA,South Asia,NaN,NaN,NaN,6422789,3136310,3286479,4.785306e+06,4785306.0,74.505108,1.637483e+06,1637483.0,25.494892
2,2011,AGO,Angola,ESA,Eastern and Southern Africa,13.81661,24.020121,3.61844,165268,78319,86949,6.558019e+04,65580.0,39.681116,9.968781e+04,99688.0,60.318884
3,2022,AIA,Anguilla,LAC,Latin America and Caribbean,3.66253,NaN,NaN,4497034,2201637,2295397,1.230885e+06,1230885.0,27.371032,3.266149e+06,3266149.0,72.628968
4,2023,ALB,Albania,EECA,Eastern Europe and Central Asia,10.86532,13.828430,7.91850,3913,1879,2034,4.671518e+02,467.0,11.938456,3.445848e+03,3446.0,88.061544
5,2023,AND,Andorra,WE,Western Europe,0.40252,NaN,NaN,6029594,2998637,3030957,2.079341e+06,2079341.0,34.485593,3.950253e+06,3950253.0,65.514407

In [273]:
def round_not_empty(a):
    return int(round(a)) if pd.notna(a) else np.nan # Created a column called rounded rural population values for cleaner view and understanding

In [274]:
df['Rural_population_rounded(pri_age)']=df['Rural_population(pri_age)'].apply(round_not_empty)

In [275]:
df['Urban_population_rounded']=df['Urban_population(pri_age)'].apply(round_not_empty)

In [237]:
df['Time_peroid_(pri_age)']=df['Time_period(pri_age)'].astype('Int64')

In [223]:
#df=df.drop(df.columns[0],axis=1)

In [122]:
df.tail()

In [98]:
pd.set_option('display.max_rows',203)

In [121]:
df[['Region','Region_full_name','ISO3','Country','Population_data(pri_age)']] # The object columns do not have any or NaN value

In [303]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 1 to 203
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Time_period(pri_age)               192 non-null    object
 1   ISO3                               203 non-null    object
 2   Country                            203 non-null    object
 3   Region                             203 non-null    object
 4   Region_full_name                   203 non-null    object
 5   Total_%(pri_age)                   192 non-null    float64
 6   Female_sex_%(pri_age)              140 non-null    float64
 7   Male_sex_%(pri_age)                140 non-null    float64
 8   Total_Population_data(pri_age)     202 non-null    Int64
 9   Female_population(pri_age)         202 non-null    Int64
 10  Male_population(pri_age)           202 non-null    Int64
 11  Rural_population(pri_age)          202 non-null    float64
 12  Rural_population_rounded(pri_age)  202 non-null    float64
 13  Rural_population_%(pri_age)        202 non-null    Float64
 14  Urban_population(pri_age)          202 non-null    float64
 15  Urban_population_rounded(pri_age)  202 non-null    float64
 16  Urban_population_%(pri_age)        202 non-null    Float64
dtypes: Float64(2), Int64(3), float64(7), object(5)
memory usage: 28.1+ KB

In [269]:
df=df.astype({'Total_%(pri_age)':'float64','Female_sex_%(pri_age)':'float64','Male_sex_%(pri_age)':'float64',
             'Total_Population_data(pri_age)':'Int64','Female_population(pri_age)':'Int64','Male_population(pri_age)':'Int64','Rural_population(pri_age)':'float64'
             ,'Urban_population(pri_age)':'float64'})

In [270]:
df.at[df.index[150], 'Country'] = 'Kosovo'  # at function fills the value exact location mentioned

In [292]:
df.at[df.index[30], 'Region']='NA'

In [295]:
df.iloc[30] # iloc returns all columns of the specified index value taken as an input

Time_period(pri_age)                          2022
ISO3                                           CAN
Country                                     Canada
Region                                          NA
Region_full_name                     North America
Total_%(pri_age)                           3.98843
Female_sex_%(pri_age)                      4.22784
Male_sex_%(pri_age)                        3.75969
Total_Population_data(pri_age)               63179
Female_population(pri_age)                   31167
Male_population(pri_age)                     32012
Rural_population(pri_age)             21650.540775
Rural_population_rounded(pri_age)          21651.0
Rural_population_%(pri_age)              34.268571
Urban_population(pri_age)             41528.459225
Urban_population_rounded                   41528.0
Urban_Population_%(pri_age)                    NaN
Name: 31, dtype: object

In [294]:
df['Region_full_name']=df['Region'].map({'EAP':'East Asia and Pacific','EECA':'Eastern Europe and Central Asia','ESA':'Eastern and Southern Africa','LAC':'Latin America and Caribbean','MENA':'Middle East and North Africa','NA':'North America',
                           'WCA':'West and Central Africa','WE':'Western Europe','WORLD':'world','SA':'South Asia'}) # Here I have mapped the region that was already given in the excel table to create one region full name column which makes it easier for us to understand what region his name is using function which is taking dictionary as an input

In [277]:
df['Rural_population_%(pri_age)']=(df['Rural_population(pri_age)']/df['Total_Population_data(pri_age)'])*100

In [300]:
df['Urban_population_%(pri_age)']=(df['Urban_population(pri_age)']/df['Total_Population_data(pri_age)'])*100

In [302]:
df=df.drop(columns='Urban_Population_%(pri_age)')

In [279]:
df=df.reindex(columns=['Time_period(pri_age)','ISO3', 'Country', 'Region','Region_full_name','Total_%(pri_age)',
        'Female_sex_%(pri_age)', 'Male_sex_%(pri_age)',
       'Total_Population_data(pri_age)', 'Female_population(pri_age)',
       'Male_population(pri_age)', 'Rural_population(pri_age)','Rural_population_rounded(pri_age)', 'Rural_population_%(pri_age)',
       'Urban_population(pri_age)','Urban_population_rounded','Urban_Population_%(pri_age)',
       ])  # Here I have reindexed the columns So that I can have relevant columns next to each other which makes interpretation and understanding much more easier

In [283]:
df['Region'].isnull

<bound method Series.isnull of 1        SA
2       ESA
3       LAC
4      EECA
5        WE
6      MENA
7       LAC
8      EECA
9       LAC
10      EAP
11       WE
12     EECA
13      ESA
14       WE
15      WCA
16      WCA
17       SA
18     EECA
19     MENA
20      LAC
21     EECA
22     EECA
23      LAC
24      LAC
25      LAC
26      LAC
27      EAP
28       SA
29      ESA
30      WCA
31      NaN
32       WE
33      LAC
34      EAP
35      WCA
36      WCA
37      WCA
38      WCA
39      EAP
40      LAC
41      ESA
42      WCA
43      LAC
44      LAC
45       WE
46       WE
47       WE
48      ESA
49      LAC
50       WE
51      LAC
52     MENA
53      LAC
54     MENA
55      ESA
56       WE
57       WE
58      ESA
59       WE
60      EAP
61       WE
62      EAP
63      WCA
64       WE
65     EECA
66      WCA
67      WCA
68      WCA
69      WCA
70      WCA
71       WE
72      LAC
73      LAC
74      LAC
75      LAC
76     EECA
77      LAC
78       WE
79      EAP
80       SA
81       WE
82     MENA
83     MENA
84       WE
85     MENA
86       WE
87      LAC
88     MENA
89      EAP
90     EECA
91      ESA
92     EECA
93      EAP
94      EAP
95      LAC
96      EAP
97     MENA
98      EAP
99     MENA
100     WCA
101    MENA
102     LAC
103      WE
104      SA
105     ESA
106      WE
107      WE
108      WE
109    MENA
110      WE
111    EECA
112     ESA
113      SA
114     LAC
115     EAP
116    EECA
117     WCA
118      WE
119     EAP
120    EECA
121     EAP
122     ESA
123     WCA
124     LAC
125     ESA
126     ESA
127     EAP
128     ESA
129     WCA
130     WCA
131     LAC
132     EAP
133      WE
134      WE
135      SA
136     EAP
137     EAP
138    MENA
139      SA
140     LAC
141     LAC
142     EAP
143     EAP
144     EAP
145      WE
146     EAP
147      WE
148     LAC
149    MENA
150    MENA
151    EECA
152    EECA
153    EECA
154     ESA
155    MENA
156     ESA
157     WCA
158     EAP
159     EAP
160     WCA
161     LAC
162      WE
163     ESA
164    EECA
165     ESA
166     WCA
167     LAC
168      WE
169      WE
170      WE
171     ESA
172     ESA
173    MENA
174     LAC
175     WCA
176     WCA
177     EAP
178    EECA
179     EAP
180    EECA
181     EAP
182     EAP
183     LAC
184    MENA
185    EECA
186     EAP
187     ESA
188     ESA
189    EECA
190     LAC
191      NA
192    EECA
193      WE
194     LAC
195     LAC
196     LAC
197     EAP
198     EAP
199     EAP
200    MENA
201     ESA
202     ESA
203     ESA
Name: Region, dtype: object>

In [89]:
df.to_csv('fully_clean_out_of_primary_school_2025.csv') # Saved my clean .xlsx file to .CSV